@model Etch.OrchardCore.UserProfiles.GroupOwnership.ViewModels.ProfileGroupOwnershipPartSettingsViewModel

@using Etch.OrchardCore.UserProfiles.GroupOwnership.Models;

<div class="form-group row">
    <div class="col-md-8">
        <label asp-for="RestrictAccess">@T["Restrict access"]</label>
        <select asp-for="RestrictAccess" class="custom-select">
            <option value="@RestrictAccess.None">@T["None - Never restrict access"]</option>
            <option value="@RestrictAccess.ForType">@T["Type - Always restrict access for all items of this type that have a group owner"]</option>
            <option value="@RestrictAccess.SetPerItem">@T["Content Item - Display option when editing to restrict access for content items of this type"]</option>
        </select>
    </div>
</div>
