@using Etch.OrchardCore.UserProfiles.Subscriptions.ViewModels;

@model SubscriptionAccessPartViewModel

<h5>@T["Subscription Access"] <span class="hint">@T["— If none selected the content would be available to everyone."]</span></h5>

<fieldset class="form-group">
    <div class="row">
        @for (var i = 0; i < Model.SubscriptionSelection.Length; i++) 
        {
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="custom-control custom-checkbox">
                <input asp-for="@Model.SubscriptionSelection[i].IsSelected" type="checkbox" class="custom-control-input">
                <input type="hidden" asp-for="@Model.SubscriptionSelection[i].Identifier" />
                <label class="custom-control-label" asp-for="@Model.SubscriptionSelection[i].IsSelected">@Model.SubscriptionSelection[i].ContentItem.DisplayText</label>
            </div>
        </div>
        }
    </div>
</fieldset>