@using Etch.OrchardCore.UserProfiles.Subscriptions.ViewModels;

@model SubscriptionAccessPartViewModel

<h5>@T["Subscription Access"] <span class="hint">@T["— If none selected the content would be available to everyone."]</span></h5>
<fieldset class="form-group">

    @for (var i = 0; i < Model.SubscriptionSelection.Length; i++)
    {
        <div class="custom-control custom-checkbox">
            <input asp-for="@Model.SubscriptionSelection[i].IsSelected" type="checkbox" class="custom-control-input">
            <input type="hidden" asp-for="@Model.SubscriptionSelection[i].Identifier" />
            <label class="custom-control-label" asp-for="@Model.SubscriptionSelection[i].IsSelected">@Model.SubscriptionSelection[i].ContentItem.DisplayText</label>
        </div>
    }
</fieldset>